@charset "utf-8";
/* CSS Document */
@media all and (max-width:1900px) {
.shape { display: none !important; }	
.slick-slide img { max-width:100%; height:auto}
}
@media all and (max-width:1600px) {
header, .banner, .content, .footer { padding-left: 20px !important; padding-right: 20px !important }
}
@media all and (max-width:1366px) {
.content.testimonial-slider-content, .content.our-work, .clients-logos-wr { max-width: 1280px; }
#clients-logos { padding-left:45px; padding-right:45px;}
#testimonials-slider-area .slick-arrow.slick-prev, #clients-logos .slick-arrow.slick-prev { left: 0px }
#testimonials-slider-area .slick-arrow.slick-next, #clients-logos .slick-arrow.slick-next { right: 0px }
.banner { padding-top:40px;}
.multiple-logos { max-width:100%}
}
@media all and (max-width:1180px) {
.logo { max-width: 200px; }
.call { padding-top: 8px }
h1 { font-size: 59px; line-height: 72px; }
h2 { font-size: 55px; line-height: 65px; }
.awards-wide ul li { width: 17% }
.awards-wide ul li img { max-width: 100%; height: auto; }
/*thanks*/
#thanks .content.thanks-content h1 { font-size: 58px; line-height: 68px }
}
@media all and (max-width:960px) {
.banner { padding-top: 40px; }
.banner-left { float: none; width: 100%; padding-bottom: 35px }
.banner-right { float: none; width: 100% }
.banner-image { position: static; max-width: 100%; height: auto; margin-bottom:-45%}
.content.big_image_content { padding-bottom: 170px; }
.chart-image { max-width: 100%; margin: auto; left: 0; right: 0 }
.testimonial-inner-content { padding-left: 80px; padding-right: 80px; }
.cta-wide { background-image: none; margin-top:40px; }
.cta-wide .content { padding-top: 75px; padding-bottom: 100px; }
.awards-wide .content { padding-top: 80px; padding-bottom: 66px; }
/*footer*/
.footer-col { width: 33.3% }
}
@media all and (max-width:767px) {
.logo { width: 169px; }
.call { padding-top: 4px; }
.call span { display: none; }
h1 { font-size: 38px; line-height: 46px; text-align:center }
.banner h6 { line-height:28px;}
.banner-image { display:none !important}
h2 { font-size: 27px; line-height: 45px; padding-bottom: 30px; }
p, ul li {font-size: 16px; line-height: 28px;}
#content_zone, .content.row-content, .content.growth-content, .content.testimonial-slider-content { padding-top: 50px; }
.content.big_image_content { margin-bottom: 0 }
.half { width: 100% }
.content.big_image_content { padding-bottom: 0px; }
.chart-image { position: static }
.halfs { display: block }
#growth-slider { padding-left: 0; padding-right: 0 }
#growth-slider .slider-image { display: none !important }
#growth-slider .slider-text p { padding-bottom: 20px; }
h3, #formwrapper h3 { font-size: 34px; line-height: 42px; }
.dots-big-img { display: none; }
ul.icons-list li { width: 50%; padding-right: 0 }
.half.image-half img { max-width: 100%; height: auto; float: none !important }
.content.testimonial-slider-content { padding-bottom: 0 }
.testimonial-inner-content { padding-left: 0; padding-right: 0; padding-bottom: 30px; }
.slick-arrow { display: none !important }
.slick-dots { display: block !important }
.cta-wide .content { padding-top: 50px; padding-bottom: 54px; }
.content.our-work { padding-top:50px;}
.content.our-work h6{ padding:0}
#clients-logos { padding-left:0px; padding-right:0px;}
.awards-wide .content { padding-top: 60px; padding-bottom: 40px; }
.awards-wide ul li { margin: 0 2% 20px; width: auto }
.awards-wide ul li img { max-height: 72px }
#formwrapper .content { padding-top:40px; padding-bottom:40px; }
.mfp-close-btn-in .mfp-close { top: 20px; right: 20px !important; width:18px; height:18px; }
#formwrapper .form-col, #formwrapper .form-col:nth-of-type(2n) { float: none; width: 100% }
/*footer*/
.footer { padding-top: 40px; padding-bottom: 30px; }
.footer-col { width: 50% }
.footer-col.no-title:nth-of-type(3) { padding-top: 0; width: 100% }
.footer-wide-bottom .footer { padding-top: 30px; padding-bottom: 30px; }
/*thanks*/
#thanks #content_zone { padding-top: 25px; }
#thanks .content.thanks-content h1 { font-size: 42px; line-height: 47px }
#thanks .content.thanks-content h6 { font-size: 21px; line-height: 35px; }
.video-area { padding: 27px 20px 35px; }
.video-details { width: 100%; float: none; }
.video-details .inner { padding: 0; }
.video-box { width: 100%; float: none; padding: 56% 0 0; }
body.fixed { position:fixed}
.input input { line-height:normal}
.input { -webkit-transform: none;-moz-transform: none; -o-transform: none;}
	
	
	.dp-header-right {display: none;}
	.top-part header {padding-bottom: 0;}
	#trigger-form input {width: 100%;}
	.form-wrap button {margin-left: 0;width: 100%;margin-top: 10px;}
	
	.custom-growing-traffic p {max-width: 74%;font-size: 20px;line-height: 24px;}
	.dp-form-top {margin-bottom: 0px;text-align: center;}
	.dp-frm-inr input {margin: 0 auto; margin-bottom: 10px;}
	.dp-form-btm {text-align: center;}
	.dp-custom-frm-btm {padding: 16px 58px;margin-left: 0;font-size: 18px;}
	.custom-growing-traffic {padding: 70px 0 70px;}
	.dp-call-to-us {padding-bottom: 30px;}
	.dp-call-to-us a {padding: 13px 72px;}
	.custom-footer {padding: 57px 30px 30px;}
	.footer-col-1 {width: 49% !important;}
	.footer-col-2 {width: 50% !important;}
	.footer-col-3 {width: 49% !important;}
	.footer-col-4 {width: 50% !important;}
	.footer-col{margin-bottom: 40px;}
	.footer-col-5{margin-bottom: 0;}
	
	
}

@media all and (max-width:720px) {
.chk_box {display: inline-block; width: 49%}
}
@media all and (max-width:500px) {

.logo { float: none; margin: 0 auto }
.call { display: none; }
.banner { padding-top:0}
ul { padding-left:0}
.form-input { width: 100%; float: none; margin: 0 0 10px; }
.form-wrap .button { padding: 0; width: 100%; float: none; }
.button { padding: 0 45px; }
ul.icons-list li { width: 100%; text-align: left }
/*footer*/
.footer-col, .footer-col.no-title:nth-of-type(3) { padding-top: 0; width: 100% }
}
@media all and (max-width:440px) {
.chk_box {display: inline-block; width: 100%}
}
